body {
	margin: 0px auto 0px auto;
	width: 700px;
	font-size: 18px;
	text-align: justify;

	color: #35353a;
	font-family: 'Didact Gothic', Helvetica;
}

a {
	color: #5B756C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#header {
	border-bottom: 1.5px dashed #aaa;
	margin-bottom: 30px;
	padding: 18px 0px 18px 0px;
}

#logo a {
	color: #333;
	float: left;
	font-size: 34px;
	font-weight: bold;
	text-decoration: none;
}

#logo a:hover {
	color: #5B756C;
}

#navigation {
	text-align: right;
	margin-top: 10.5px;
}

#navigation a {
	color: #C2CBCE;
	font-size: 22px;
	margin-left: 12px;
	text-decoration: none;
}

#navigation a:hover {
	color: #5B756C;
}

#footer {
	text-align: right;
}
