body {
	margin: 0px auto 0px auto;
	width: 714px;
	font-size: 18px;
	text-align: justify;

	color: #35353a;
	font-family: 'Cardo', Helvetica;
}

h1, #header, .info {
	font-family: 'Alegreya', Helvetica;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 21px;
}

a {
	//color: #067359;
	color: #08767F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	width: 99%;
	margin-left: auto; margin-right: auto;
}

ul {
	list-style-type: square;
}

code {
	display: block;
	padding: 2px 9px 3px;
	font-size: 19px;
	border: 0.5px solid #bebab0;
	font-family: 'Ubuntu Mono', Monospace;
}

.info {
	color: #555;
	font-size: 15px;
	font-style: italic;
	margin-top: -15px;
}

.info a {
	color: #5B756C;
}

.info sup {
	color: #C2CBCE;
	font-style: normal;
}

.tags {
	color: #333;
}

.footnotes {
	font-size: 15px;
	color: #656565;
}

.footnotes hr {
	width: 70%;
	border: 0;
	border-bottom: 1px dotted #e5e5e5;
}

span.imgleft {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

span.imgright {
	display: inline-block;
	float: right;
	margin-left: 10px;
	margin-top: 5px;
}

img.thumb {
	padding: 5px 7px 5px 7px;
	background-color: #f7f7f9;
	border-style: solid;
	border-width: 1px;
	border-color: #e0e0e0;
}

a:hover img {
	text-decoration: none;
}

#header {
	border-bottom: 1.5px dashed #aaa;
	margin-bottom: 30px;
	padding: 18px 0px 18px 0px;
}

#logo a {
	color: #333;
	float: left;
	font-size: 34px;
	font-weight: bold;
	text-decoration: none;
}

#logo a:hover {
	color: #5B756C;
}

#navigation {
	text-align: right;
	margin-top: 10.5px;
}

#navigation a {
	color: #C2CBCE;
	font-size: 22px;
	margin-left: 12px;
	text-decoration: none;
}

#navigation a:hover {
	color: #5B756C;
}

#footer {
	text-align: right;
	padding: 12px 0px 12px 0px;
	font-size: 14px;
	margin-top: 30px;

	border-top: dashed 1.5px #aaa;
	color: #555;
}
