@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(/css/fonts/Cardo.woff) format('woff');
}

@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'), url(/css/fonts/Underdog.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/css/fonts/UbuntuMono.ttf) format('truetype');
}

@font-face {
  font-family: 'Asana Math';
  font-style: normal;
  font-weight: 400;
  src: local('Asana Math'), local('AsanaMath-Regular'), url(/css/fonts/Asana-Math.ttf) format('truetype');
}
