@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url(/css/fonts/AverageSans.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(/css/fonts/Alegreya.woff) format('woff');
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(/css/fonts/ShareTechMono.woff) format('woff');
}

@font-face {
  font-family: 'Asana Math';
  font-style: normal;
  font-weight: 400;
  src: local('Asana Math'), local('AsanaMath-Regular'), url(/css/fonts/Asana-Math.ttf) format('truetype');
}
