@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(/css/fonts/Cardo.woff) format('woff');
}

@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(/css/fonts/AveriaLibre.woff) format('woff');
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(/css/fonts/ShareTechMono.woff) format('woff');
}

@font-face {
  font-family: 'Asana Math';
  font-style: normal;
  font-weight: 400;
  src: local('Asana Math'), local('AsanaMath-Regular'), url(/css/fonts/Asana-Math.ttf) format('truetype');
}
